@model IEnumerable<FarmFresh.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.GUID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopByStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.GUID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopByStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
